@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');

*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:2em;
  background:#8c8c8c;
  color:#fff;
}

header {
  top: 0px;
  left: 0px;
  width: 50%;
}

h1 {
  font-size: 6em;
  font-family: 'Amatic SC',cursive;
}

#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: 1em;
  text-decoration: none;
  color: #333;
  transition: .5s all;
  font-family: 'Amatic SC',cursive;
}
#logo:hover {
  color: #fafafa;
  background-color: #0080ff;
}

p2 {
  font-size: 2em;
  font-family: 'Long Cang', cursive;
  float: none;
  padding: 1em;
  display: block;
  text-align: center;

}

p3 {
  font-size: 2em;
  font-family: 'Long Cang', cursive;
  float: none;
  padding: 2em;
}


h2,p, #first{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  /* so the text that goes over is not shown, neaten it up */
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* browsers to support the style of the box-shadow */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* dark grey with an opacity of 70% */
  /* 3 integers adds a blur affect the shadow

  /* browsers to support the tilt effect */
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li{
  margin:1em;
  float:left;
}

/* now to add some padding, drop shadows and add font */
/* below is the font code */

ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p, #first{
  font-family:'Amatic SC',cursive;
  font-size:180%;
}

#second {
  font-family:'Amatic SC',cursive;
  font-size: 140%;
  font-weight:normal;
}

#third {
  font-family:'Amatic SC',cursive;
  font-size: 180%;
  font-weight:normal;
}

#fourth {
  font-family:'Amatic SC',cursive;
  font-size: 150%;
  font-weight:normal;
}

#fifth {
  font-family:'Amatic SC',cursive;
  font-size: 150%;
  font-weight:normal;
}

/* random tilting below and color */
/* tilting every 2nd note and off-set it by 5 pixels from the top */

ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

#box {
  height: 6em;
  width:6em;
}

#box2 {
  height: 6em;
  width:6em;
}

#box3 {
  height: 6em;
  width:6em;
}

#box4 {
  height: 6em;
  width:6em;
}

#box5 {
  height: 6em;
  width:6em;
}
